<link href="/css/more/more.css" rel="stylesheet" type="text/css" >


<div class="wrapper">
    <div class="card">
      <div class="product-left">
        <% if (typeof data != 'undefined') { %>
          <% if (data != '') { %>
             
            
            
              
              
                <div class="header">
          
                  <h1><%= data[0].name %></h1>
                  
                </div>
                <!--DESCRIPITON / DETAILS-->
                <div class="product-main">
                  <h6>Tags</h6>
                  <hr>
                  <div class="focus">
                    <% if (typeof data != 'list') { %> 
                      <h5><%= data[0].prefer %></h5>
                      
                    <% } else { %>      
                      <% data[0].prefer.forEach(function(datas){ %>
                        <h5><%= datas %></h5>
                        <% }) %>
                      
                      <% }  %>   
                    
                  </div>
                  <h6>DETAILS</h6>
                  <p><%= data[0].comment %></p>
                </div>
                <!--CHOOSE PRODUCT DETAILS-->
                <div class="product-details">
                  
                  <!--PRODUCT TOTAL-->
                  <div class="product-total">
                    <h4>Total Budget</h4>
                    <p>$<%= data[0].amount %></p>
                  </div>
                  <div class="product-total">
                    <h4>Fund Received</h4>
                    <p>$<%= data[0].received %></p>
                  </div>
                </div>
                <!-- ADD TO CART BUTTON -->
                <button class="btn btn-primary"><b>Donate</b></button>
                
              
            
            
            <%} else { %>
              <p>No Plans Avaliable</p>
              <% } %>
            <% } %>
        
        
        
    </div>
  </div>
  
  